* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page-link {
    cursor: pointer;
}

.prevPage, .nextPage {
    background: none;
    border: 0;
}

.page-link:hover {
    background-color: lightgray;
}